<div class="content">
  <h2>Featured Work 
    <div class="imageupload">  
    <input type='file' #fileupload id="fileupload" accept=".png, .jpg, .jpeg"   (change)="readFile($event, fileupload.files)"/>
    
    <label for="fileupload">
        <i class="fas fa-plus"></i>
    </label>
    </div>
  </h2>
 
  <div class="demo-border">
    <drag-scroll class="demo-one"
      drag-scroll-y-disabled="true"
      scrollbar-hidden="true"
      (reachesLeftBound)="leftBoundStat($event)"
      (reachesRightBound)="rightBoundStat($event)"
      (snapAnimationFinished)="onSnapAnimationFinished()"
      #nav
      >
      <i class="far fa-heart"></i>
      <img drag-scroll-item *ngFor="let image of imagelist" [src]="image" (click)="clickItem(image)"/>
    </drag-scroll>
  </div>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">Previous</button>
    <hr class="line">
    <button mat-raised-button color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">Next</button>
  </div>
</div>
