*{
	padding:0;
	margin: 0;
}
#jinglebol-signup{
	background: url(assets/images/main.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}
#jinglebol-signup .row{
	width: 100%;
    position: relative;
    float: left;
    height: 100vh;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container {
  position: relative;
  width: 600px;
  margin: 30px auto 0;
  height: 320px;
  background-color:#eb75b19c;
  top: 25%;
  margin-top: 0px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .box:before, .container .box:after {
  content: " ";
  position: absolute;
  left: 152px;
  top: 50px;
  background-color: #9297e0;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  width: 300px;
  height: 285px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .box:after {
  background-color: #a5aae4;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}
.container .container-forms {
  position: relative;
}
.container .btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 60px;
  color: #fff;
  background-color: #ff73b3;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .btn:hover {
  opacity: 0.7;
}
.container .btn, .container input {
  padding: 10px 15px;
}
.container input {
  margin: 10px 67px;
    display: block;
    width: 171px;
    outline: 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.container .container-forms .container-info {
  text-align: left;
  font-size: 0;
}
.container .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .container-forms .container-info .info-item p {
  font-size: 20px;
  margin: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.container .container-forms .container-info .info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  width: 30%;
  font-family: 'Montserrat Alternates', sans-serif;
}
.container .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}
.container .container-forms .container-info .info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.container .container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form:before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  color: #5356ad;
  font-size: 130px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form button {
      position: relative;
    width: 73%;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    background: #e76aa6;
    background: -webkit-linear-gradient(to right, #e76aa6, #464f64);
    background: linear-gradient(to right, #e76aa6, #505ea4);
    margin: 20px 27px;
    padding: 10px 7px;
}
.btn1{
	  position: relative;
    width: 68%;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    background: #e76aa6;
    background: -webkit-linear-gradient(to right, #e76aa6, #464f64);
    background: linear-gradient(to right, #e76aa6, #505ea4);
    margin: 20px 27px;
    padding: 10px 7px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.container .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container.log-in .box:before {
  position: absolute;
  left: 180px;
  top: 62px;
  height: 265px;
}
.container.log-in .box:after {
  top: 22px;
  left: 192px;
  width: 324px;
  height: 220px;
}
.container.log-in .container-form {
  left: 265px;
}
.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}
.container.active {
  width: 260px;
  height: 140px;
  margin-top: -70px;
}
.container.active .container-form {
  left: 30px;
  width: 200px;
  height: 200px;
}
.container.active .container-form:before {
  content: "✔";
  position: absolute;
  left: 51px;
  top: 5px;
  color: #5356ad;
  font-size: 130px;
  opacity: 1;
}
.container.active input, .container.active .btn, .container.active .info-item {
  display: none;
  opacity: 0;
  padding: 0px;
  margin: 0 auto;
  height: 0;
}
.container.active .form-item {
  height: 100%;
}
.container.active .container-forms .container-info .info-item {
  height: 0%;
  opacity: 0;
}

.psd{}
.psd img{
	position: absolute;
    background: #9197e0;
    left: 28px;
    padding: 7.5px;
}
.user img{
	position: absolute;
    background: #9197e0;
    left: 28px;
    padding: 7.5px;
}
.name img{
	position: absolute;
    background: #9197e0;
    left: 28px;
    padding: 7.5px;
}
.email img{
	position: absolute;
    background: #9197e0;
    left: 28px;
    padding: 7.5px;
}
.user-img{
	width: 85%;
	text-align: center;
	margin-bottom: 37px;
}
.user-img1{
	width: 85%;
	text-align: center;
	margin-bottom: 10px;
} 
.next{
	display: none;
}
.left{
	width: auto;
	float: left;
}
.left img{
	position: absolute;
    left: 20px;
    top: 20px;
    width: 19px;
    cursor: pointer;
}


.category>input{
  width: 30px;
  margin: 0px;
  display: inline;
}

.category{
  width: 90%;
  text-align: center;
}
.category label{
 font-family: 'Montserrat Alternates', sans-serif;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.check input{
  display: none;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.check .checkmark:after {
  top: 6.3px;
  left: 6.5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
.check {
  position: relative;
  padding: 0px 15px 0 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.alert{
  width: 66%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 10px;
  background: #f2dede;
  color: #a94442;
  margin: 0px 28px;
  top: -11px;
  transition: 0.5s ease;
}

button[type=submit]:disabled,button[type=button]:disabled
{
    opacity:0.5;
    cursor: not-allowed;
}





.profile-wrapper {
  display: block;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
  height: 680px;
  margin: 3em 0 0;
}
.profile-wrapper .profile-image {
  display: inline-block;
  width: 40%;
  height: 65%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1em;
  background-color: #fff;
  z-index: 1;
  overflow: hidden;
  -webkit-box-shadow: 1px 24px 55px -19px gray;
  -moz-box-shadow: 1px 24px 55px -19px gray;
  box-shadow: 1px 24px 55px -19px gray;
}
.profile-wrapper .profile-image img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) contrast(120%);
  opacity: 0.3;
  display: block;
  width: 115%;
  height: 100%;
  position: absolute;
}
.profile-wrapper .close {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 12.3%;
  right: 7%;
}
.profile-wrapper .close:before,
.profile-wrapper .close:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #333;
}
.profile-wrapper .close:before {
  transform: rotate(-45deg);
}
.profile-wrapper .close:after {
  transform: rotate(45deg);
}
.profile-wrapper .profile-title {
  display: block;
  position: absolute;
  top: 8%;
  left: 34%;
  color: #333;
  z-index: 2;
  font-weight: 700;
  font-size: 2.5em;
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1em;
  letter-spacing: -0.02em;
  margin: 0;
}
.profile-wrapper .profile-title span {
  display: block;
  margin-left: 28%;
}
.profile-wrapper .profile-info {
  display: block;
  position: absolute;
  top: 18%;
  right: 0;
  border-radius: 1em;
  width: 90%;
  height: 63%;
  background: #fff;
  -webkit-box-shadow: 0px 15px 50px -13px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 15px 50px -13px rgba(0,0,0,0.34);
  box-shadow: 0px 15px 50px -13px rgba(0,0,0,0.34);
}
.profile-wrapper .profile-info .content {
      display: inline-block;
    float: right;
    width: 55%;
    padding:0% 5%;
}
.profile-wrapper .profile-info .content h3 {
  color: #dc143c;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.profile-wrapper .profile-info .content p {
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5em;
}
.profile-wrapper .profile-info .content p.link {
  font-size: 0.9em;
}
.profile-wrapper .profile-info .content p.link i {
  color: #dc143c;
  font-family: "FontAwesome";
  line-height: inherit;
  margin-right: 4%;
}
.profile-wrapper .profile-info .content p.link a:link,
.profile-wrapper .profile-info .content p.link a:visited {
  text-decoration: none;
  color: inherit;
  transition: color 0.25s;
}
.profile-wrapper .profile-info .content p.link a:link:hover,
.profile-wrapper .profile-info .content p.link a:visited:hover {
  color: #dc143c;
  transition: color 0.25s;
}
.profile-wrapper .profile-info .content p.link.one {
  margin-top: 3em;
}
.profile-wrapper .profile-info .stats {
  display: block;
  width: 90%;
  height: auto;
  position: absolute;
  bottom: 7.8%;
  right: 0;
}
.profile-wrapper .profile-info .stats .stat {
  display: inline-block;
  width: 33.33%;
  float: right;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  /* color: #dc143c; */
  /* font-size: 0.8em; */
  line-height: 2em;
}
.profile-wrapper .profile-info .stats .stat .number {
  font-size: 2em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  color: #333;
  vertical-align: top;
  margin-right: 3%;
}
.profile-wrapper .profile-info .arrow {
  display: block;
  position: absolute;
  bottom: 7.5%;
  left: 11px;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}
.profile-wrapper .profile-info .arrow.one {
  /* border: 1px solid #333; */
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.profile-wrapper .profile-info .arrow.two {
  /* border: 1px solid #333; */
  border-right-color: transparent;
  border-top-color: transparent;
  left: -40px;
}




.avatar-upload {
  position: relative;
  max-width: 100%;

}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  /* background:#e65a76; */
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #000;
  position: absolute;
  top: 10px;
  font-size: 19px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
    width: 100%;
    height: 498px;
    position: relative;
   
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 103%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%) contrast(120%);
  opacity: 0.3; */
}
#imagePreview i{
  position: absolute;
  top: 43%;
  color: gray;
  font-size: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#aboutme{
  width: 100%;
  height: 85px;
  box-shadow: 1px 1px 1px 1px grey;
  border: none;
  border: 0.1px solid gray;
  outline: none;
  border-radius: 4px;
  resize: none;
  padding: 6px 5px 0px;
}
#spanResult{
  font-family: 'Montserrat Alternates', sans-serif;
}
.btn2{
  padding: 10px;
  background: #bb2e4a;
  border:none;
  border-radius: 10px;
}

.fas1{
  color: black;
  opacity: 0.5;
  font-size: 19px;
  float: right;
}

.fas1:hover{
  opacity: 1;
  cursor: pointer;
}












.checkbox{
  width:100%;
}
.panel {
  -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
margin-bottom: 30px;
width: 100%;
}

.panel.panel-default {
border: 1px solid #d4d4d4 ;
-webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}

.btn-icon {
color: #484848;
border:1px solid;
border-radius: 20px;
}
.btn-link:hover{
text-decoration: none !important;
color: black !important;
}
.btn-link{
text-decoration: none !important;
color: black !important;
}
.form-control{
border-color: transparent !important;
}
.status{
width: 100%;
height: auto;
border:0;
resize: none;
}
textarea::placeholder{
  font-family: 'Montserrat Alternates', sans-serif;
}
.statusbtn{
padding: 0px 0px !important;
  margin: 5px 6px!important;
}
.post{
background:#d40a5eb0;
}
.status:focus{
border:0;
}
input[_ngcontent-c1], button[_ngcontent-c1], select[_ngcontent-c1], textarea[_ngcontent-c1]{
  outline: none;
}
button{
  outline: none !important;
}
.btn-group{
  width: 80%;
  float: left;
}
/* .btn-group>label>.btn{
  border: 0.5px solid gray !important;
  border-radius: 5px !important;
  -webkit-box-shadow: 1px 1px 1px 1px gray !important;
  box-shadow: 1px 1px 1px 1px gray !important;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 9% 16% !important;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
} */
.btn-group>.btn{
  border: 0.5px solid gray !important;
  border-radius: 5px !important;
  box-shadow: 1px 1px 1px 1px gray !important;
  font-family: 'Montserrat Alternates', sans-serif;
  /* padding: 1% 3% !important; */
  transition: all 0.35s ease-in-out;
}

.btn-group>.btn>label{
  padding: 5px 20px;
  margin-bottom: 0px; 
}

.btn-group>.btn:active{

  box-shadow: none !important;

}










.title {
  margin-top: 60px;
}

.demo-one {
  height: 260px;
  background-color: #FFFFFF;
}

.demo-one img {
  height: 260px;
  width: 260px;
  margin:0px 10px;
}

.demo-two {
  height: 500px;
}

.demo-border {
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid;
  border-top: 1px solid;  
  border-color: #CFCFCF;
  margin-bottom: 20px;
}
.line{
  margin: 5px;
    height: 0px;
    width: 50%;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.demo-border[_ngcontent-c2]{
  border: none;
  border-top:1px solid;
  border-bottom:1px solid;
}
.toggle-box {
  width: 49%;
  display: inline-block;
}

.toggle-box mat-slide-toggle {
  width: 100%;
  margin-bottom: 15px;
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background:none;
  color:#000;
}
.footer {
  font-weight: 300;
  font-size: 15px;
  background-color: rgb(33, 33, 33);
}

.footer a {
  background-color: transparent;
  text-decoration: none;
  cursor: auto;
}

.docs-api-properties-table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.docs-api-properties-table p {
  margin: 0;
}

.docs-api-properties-table th {
  max-width: 100px;
  padding: 13px 32px;
  text-align: left;
}

.docs-api-properties-table td {
  font-weight: 400;
  padding: 8px 30px;
  color: rgba(0,0,0,.54);
  border: 1px solid rgba(0,0,0,.03);
}


@media only screen and  (max-width: 960px) {
  .toggle-box {
    width: 100%;
    display: block;
  }

  .demo-content {
    margin: 16px;
  }
}

.content {
  margin: 50px 70px;
}

@media screen and (min-width: 600px) and (max-width: 1279px) {
  .content {
    margin: 20px 30px;
  }
}

@media screen and (max-width: 599px) {
  .content {
    margin: 8px 12px;
  }
  .api-table-containter {
    display: none;
  }
}



#fileupload,#videoupload,#imageupload{
  display: none;
}
